
header.masthead{
    background-color:#343a40 !important;
    background:url(https://ionsecul.sirv.com/layout1/stephen-kennedy-552442-unsplash.jpg?profile=Example) no-repeat center center !important;
}

.call-to-action{
    background:url(https://ionsecul.sirv.com/layout1/chris-murray-563821-unsplash.jpg?profile=Example) no-repeat center center !important;
}
