<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>${title}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- styles -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.1.0/css/font-awesome.css" integrity="sha256-yGy2tCHWtm1cHenQuDkM2l7PHTQdEVa2GUUR4U6V8a8=" crossorigin="anonymous" />
		<link href="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/css/bootstrap.css" rel="stylesheet">
		<link href="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/css/overwrite.css" rel="stylesheet">
		<link href="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/css/flexslider.css" rel="stylesheet">	
		<link href="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/css/style.css" rel="stylesheet">

		<!-- Font -->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,300' rel='stylesheet' type='text/css'>
			
		<!-- skin color -->
		<link href="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/skin/default.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Fav and touch icons -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/ico/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/ico/favicon.png">
	</head>

	<body>	
	<header>
		<div class="navbar navbar-inverse navbar-static-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>					
					
					<!-- Start nav-collapse -->
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="dropdown">
								<a href="index.html" class="dropdown-toggle" data-toggle="dropdown">${menus.home.title} <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#">${menus.home.opt1}</a></li>
									<li><a href="#">${menus.home.opt2}</a></li>
									<li><a href="#">${menus.home.opt3}</a></li>
									<li><a href="#">${menus.home.opt4}</a></li>
									<li><a href="#">${menus.home.opt5}</a></li>
								</ul>								
							</li>
							<li><a href="about.html">${menus.about.title}</a></li>	
							<li><a href="blog.html">${menus.blog.title}</a></li>								
							<li class="dropdown active">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">${menus.pages.title} <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#">${menus.pages.opt1}</a></li>
									<li><a href="#">${menus.pages.opt2}</a></li>
									<li><a href="#">${menus.pages.opt3}</a></li>
									<li><a href="#">${menus.pages.opt4}</a></li>
									<li><a href="#">${menus.pages.opt5}</a></li>
									<li><a href="#">${menus.pages.opt6}</a></li>
									<li><a href="#">${menus.pages.opt7}</a></li>
									<li><a href="#">${menus.pages.opt8}</a></li>
									<li><a href="#">${menus.pages.opt9}</a></li>
									<li><a href="#">${menus.pages.opt10}</a></li>
									<li><a href="#l">${menus.pages.opt11}</a></li>
									<li><a href="#">${menus.pages.opt12}</a></li>
									<li><a href="#">${menus.pages.opt13}</a></li>
									<li><a href="#">${menus.pages.opt14}</a></li>
									<li><a href="#">${menus.pages.opt15}</a></li>
									<li><a href="#">${menus.pages.opt16}</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">${menus.component.title} <b class="caret"></b></a>
								<ul class="dropdown-menu">
								  <li><a href="#">${menus.pages.opt10}</a></li>
									<li><a href="#">${menus.pages.opt1}</a></li>
									<li><a href="#">${menus.pages.opt2}</a></li>
									<li><a href="#">${menus.pages.opt3}</a></li>
									<li><a href="#">${menus.pages.opt4}</a></li>
									<li><a href="#">${menus.pages.opt5}</a></li>
									<li><a href="#">${menus.pages.opt6}</a></li>
									<li><a href="#">${menus.pages.opt7}</a></li>
									<li><a href="#">${menus.pages.opt8}</a></li>
									<li><a href="#">${menus.pages.opt9}</a></li>
								</ul>
							</li>
							<li class="open-menu dropdown" ><a href="#browse-menu" class="dropdown-toggle" data-toggle="dropdown">${menus.browse.title}<b class="caret"></b></a></li>
							<li><a href="contact.html">${menus.component.title}</a></li>
						</ul>
					</div>
					<!-- End nav-collapse -->
					
					<ul class="social-top">
						<li><a href="#"><i class="${menus.social.opt1}"></i></a></li>
						<li><a href="#"><i class="${menus.social.opt2}"></i></a></li>
						<li><a href="#"><i class="${menus.social.opt3}"></i></a></li>
						<li><a href="#"><i class="${menus.social.opt4}"></i></a></li>
						<li><a href="#"><i class="${menus.social.opt5}"></i></a></li>
					</ul>
				</div>
			</div>
		</div>	
		<section id="browse-menu">
			<div class="container">
				<div class="row">
					<div class="span12">
						<ul>
							<li><span class="head-menu">${menus.browse.opt1.title}</span>
								<ul>
									<li><a href="#">${menus.browse.opt1.opt1}</a></li>
									<li><a href="#">${menus.browse.opt1.opt2}</a></li>
									<li><a href="#">${menus.browse.opt1.opt3}</a></li>
									<li><a href="#">${menus.browse.opt1.opt4}</a></li>
								</ul>
							</li>
							<li><span class="head-menu">${menus.browse.opt2.title}</span>
								<ul>
									<li><a href="#">${menus.browse.opt2.opt1}</a></li>
									<li><a href="#">${menus.browse.opt2.opt2}</a></li>
									<li><a href="#">${menus.browse.opt2.opt3}</a></li>
									<li><a href="#">${menus.browse.opt2.opt4}</a></li>
									<li><a href="#">${menus.browse.opt2.opt5}</a></li>
									<li><a href="#">${menus.browse.opt2.opt6}</a></li>
									<li><a href="#">${menus.browse.opt2.opt7}</a></li>
									<li><a href="#">${menus.browse.opt2.opt8}</a></li>									
								</ul>
							</li>	
							<li><span class="head-menu">${menus.browse.opt3.title}</span>
								<ul>
									<li><a href="#">${menus.browse.opt3.opt1}</a></li>
									<li><a href="#">${menus.browse.opt3.opt2}</a></li>
									<li><a href="#">${menus.browse.opt3.opt3}</a></li>
									<li><a href="#">${menus.browse.opt3.opt4}</a></li>
								</ul>
							</li>
							<li><span class="head-menu">${menus.browse.opt4.title}</span>
								<ul>
									<li><a href="#">${menus.browse.opt4.opt1}</a></li>
									<li><a href="#">${menus.browse.opt4.opt2}</a></li>
									<li><a href="#">${menus.browse.opt4.opt3}</a></li>
									<li><a href="#">${menus.browse.opt4.opt4}</a></li>
									<li><a href="#">${menus.browse.opt4.opt5}</a></li>
									<li><a href="#">${menus.browse.opt4.opt6}</a></li>
									<li><a href="#">${menus.browse.opt4.opt7}</a></li>
									<li><a href="#">${menus.browse.opt4.opt8}</a></li>									
								</ul>
							</li>
							<li><span class="head-menu">${menus.browse.opt5.title}</span>
								<ul>
									<li><a href="#">${menus.browse.opt5.opt1}</a></li>
									<li><a href="#">${menus.browse.opt5.opt2}</a></li>
									<li><a href="#">${menus.browse.opt5.opt3}</a></li>
								</ul>
							</li>
							<li><span class="head-menu">${menus.browse.opt6.title}</span>
								<ul>
									<li><a href="#">${menus.browse.opt6.opt1}</a></li>
									<li><a href="#">${menus.browse.opt6.opt2}</a></li>
									<li><a href="#">${menus.browse.opt6.opt3}</a></li>
									<li><a href="#">${menus.browse.opt6.opt4}</a></li>
									<li><a href="#">${menus.browse.opt6.opt5}</a></li>
								</ul>
							</li>							
						</ul>
					</div>
				</div>
			</div>			
		</section>
		<section id="header-contain">
			<div class="container">
				<div class="row">
					<div class="span12">
						<a class="brand" href="${header.hrefBanner}"><img src="${header.imgBanner}" alt="" /></a>
						<form>
							<fieldset class="search-form">
								<input class="search" type="text" placeholder="${header.textSearch}">
								<button class="search-button" type="button"></button>
							</fieldset>
						</form>							
						<div class="login-register">
							<a href="#myModal" class="btn btn-inverse" data-toggle="modal" data-target="#myModal">${header.login.button1}</a><a href="#" class="btn btn-primary">${header.login.button2}</a>
						</div>						
					</div>
				</div>
			</div>
		</section>		
	</header>
	<!-- Start modal -->
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<h4 id="myModalLabel">${header.login.modal.title}</h4>
		</div>
		<form class="form-horizontal marginbot-clear">  
			<div class="modal-body">
				<div class="control-group margintop30">
					<label class="control-label" for="inputEmail">${header.login.modal.username}</label>
					<div class="controls">
						<input type="text" id="inputEmail" placeholder="${header.login.modal.username}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputPassword">${header.login.modal.password}</label>
					<div class="controls">
						<input type="password" id="inputPassword" placeholder="${header.login.modal.password}">
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<label class="checkbox">
							<input type="checkbox">${header.login.modal.remenber}
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">${header.login.modal.close}</button>
				<button class="btn btn-primary">${header.login.modal.send}</button>
			</div>
		</form>
	</div>
	<!-- End modal -->		
	
	<!-- Start page header -->
	<section id="page-header">
		<div class="container">
		  <div class="row">
			<div class="span12 aligncenter">
				<h3>${titlePost.title}</h3>
				<p>
				  ${titlePost.text}
				</p>
			</div>
		  </div>
		</div>
	</section>
	<!-- End page header  -->
	
	<!-- Start contain -->
	<section id="contain">
		<div class="container">
		  <div class="row">
			<div class="span12">
				<div class="boxed-wrapper">
					<div class="article-wrapper">
						<article>
							<div class="post-headline">
								<h4><a href="#">${article.title}</a></h4>
							</div>						
							<div class="median-object">
								<img src="${article.img}" alt="" />
							</div>
							<div class="post-contain">
								<div class="box-metta">
									<a href="#"><i class="icon-user"></i>${article.metaData.user}</a>
									<a href="#"><i class="icon-calendar"></i>${article.metaData.dateTime}</a>
									<a href="#"><i class="icon-list"></i>${article.metaData.cat}</a>
									<a href="#"><i class="icon-tags"></i>${article.metaData.tag.1}</a>
									           <a href="#">${article.metaData.tag.2}</a>
									           <a href="#">${article.metaData.tag.3}</a>
									           <a href="#">${article.metaData.tag.4}</a>
									<a href="#"><i class="icon-comments"></i>${article.metaData.canComent}</a>
								</div>								
								<p>
								${article.text}
								</p>
								<p>
								${article.text2}
								</p>
								<p>
								${article.text3}
								</p>
								<blockquote>
									<p>
									${article.text4}
									</p>
								</blockquote>
								<img src="${article.img1}" class="alignleft" alt="" />
								<p>
								  ${article.text5}
								</p>	
								<p>
								${article.text6}
								</p>
								<img src="${article.img2}" class="alignright" alt="" />	
								<p>
								${article.text7}
								</p>	
								<p>
								${article.text8}
								</p>	
								<p>
								${article.text9}
								</p>							
							</div>
						</article>	
						<div class="clearfix"></div>
							<div class="comment-head">
								<h4>${comments.title}</h4>
							</div>							
							<div class="comment-wrapper">
									<div class="media">
										<a class="alignleft" href="#"><img src="${comments.users.1.img}" alt="" /></a>
										<div class="media-body">
											<form name="comment">
												<textarea rows="6" class="input-block-level"></textarea>
												<button class="btn" type="button">${comments.buttonComent}</button>
											</form>
										</div>
									</div>							
									<div class="media">
										<div class="media-avatar">
											<a href="#"><img src="${comments.users.1.img}" alt="" /></a>
											<span class="title-comment">${comments.author}</span>
										</div>
										<div class="media-body">
											<div  class="media-heading"><h4><a href="#">${comments.users.1.name}</a></h4></div>
											<p>${comments.listCommens.1}</p>
											<p><a href="#">${comments.reply}</a></p>
										</div>
									</div>
									<div class="media">
										<div class="media-avatar">
											<a href="#"><img src="${comments.users.2.img}" alt="" /></a>
										</div>
										<div class="media-body">
											<div  class="media-heading"><h4><a href="#">${comments.users.2.name}</a></h4></div>
											<p>${comments.listCommens.2}</p>
											<p><a href="#">${comments.reply}</a></p>
										</div>
									</div>							
									<div class="media">
										<div class="media-avatar">
											<a href="#"><img src="${comments.users.3.img}" alt="" /></a>
										</div>
										<div class="media-body">
											<div  class="media-heading"><h4><a href="#">${comments.users.3.name}</a></h4></div>
											<p>${comments.listCommens.3}</p>
											<p><a href="#">${comments.reply}</a></p>
										</div>
										<div class="media">
										<div class="media-avatar">
											<a href="#"><img src="${comments.users.1.img}" alt="" /></a>
											<span class="title-comment">${comments.author</span>
										</div>
											<div class="media-body">
												<h4 class="media-heading"><a href="#">${comments.users.1.name}</a></h4>
												${comments.listCommens.4}
												<p><a href="#">${comments.reply}</a></p>
											</div>
										</div>
										<div class="media">
										<div class="media-avatar">
											<a href="#"><img src="${comments.users.2.img}" alt="" /></a>
										</div>
											<div class="media-body">
												<div  class="media-heading"><h4><a href="#">${comments.users.2.name}</a></h4></div>
												<p>${comments.listCommens.5}</p>
												<p><a href="#">${comments.reply}</a></p>
											</div>
										</div>									
									</div>
									<div class="media">
										<div class="media-avatar">
											<a href="#"><img src="${comments.users.3.img}" alt="" /></a>
										</div>
										<div class="media-body">
											<div  class="media-heading"><h4><a href="#">${comments.users.2.name}</a></h4></div>
											<p>${comments.listCommens.6}</p>
											<p><a href="#">${comments.reply}</a></p>
										</div>
									</div>							
									<div class="media omega">
										<div class="media-avatar">
											<a href="#"><img src="${comments.users.4.img}" alt="" /></a>
										</div>
										<div class="media-body">
											<div  class="media-heading"><h4><a href="#">${comments.users.4.name}</a></h4></div>
											<p>${comments.listCommens.7}</p>
											<p><a href="#">${comments.reply}</a></p>
										</div>
									</div>							
							</div>					
					</div>
					<aside>
						<div class="widget">
							<h4 class="widget-head">${widgets.ads.title}</h4>
							<ul class="ads">
								<li><a href="#"><img src="${widgets.ads.img1}" alt=""/></a></li>
								<li><a href="#"><img src="${widgets.ads.img2}" alt=""/></a></li>
								<li><a href="#"><img src="${widgets.ads.img3}" alt=""/></a></li>							
								<li><a href="#"><img src="${widgets.ads.img4}" alt=""/></a></li>							
							</ul>
						</div>						
						<div class="widget">
							<h4 class="widget-head">${widgets.categoria.title}</h4>
							<ul class="cat">
								<li><a href="#">${widgets.categoria.opt1}</a></li>
								<li><a href="#">${widgets.categoria.opt2}</a></li>
								<li><a href="#">${widgets.categoria.opt3}</a></li>
								<li><a href="#">${widgets.categoria.opt4}</a></li>
								<li><a href="#">${widgets.categoria.opt5}</a></li>
								<li><a href="#">${widgets.categoria.opt6}</a></li>
							</ul>							
						</div>
						<div class="widget">
						<div class="tabbable">
							<ul class="nav nav-tabs tabber">
								<li class="active"><a data-toggle="tab" href="#tab1">${widgets.recent.title}</a></li>
								<li class=""><a data-toggle="tab" href="#tab2">${widgets.popular.title}</a></li>
							</ul>
							<div class="tab-content">
								<div id="tab1" class="tab-pane active">
									<ul class="recent">
										<li>
											<a class="alignleft" href="#">
												<img src="${widgets.recent.img1}" alt=""/>
											</a>
											<h6><a href="">${widgets.recent.opt1}</a></h6>
										</li>
										<li>
											<a class="alignleft" href="#">
												<img src="${widgets.recent.img2}" alt=""/>
											</a>
											<h6><a href="">${widgets.recent.opt2}</a></h6>
										</li>
										<li>
											<a class="alignleft" href="#">
												<img src="${widgets.recent.img3}" alt=""/>
											</a>
											<h6><a href="">${widgets.recent.opt3}</a></h6>
										</li>
									</ul>
								</div>
								<div id="tab2" class="tab-pane">
									<ul class="recent">
										<li>
											<a class="alignleft" href="#">
												<img src="${widgets.popular.img1}" alt=""/>
											</a>
											<h6><a href="">${widgets.popular.opt1}</a></h6>
										</li>																		
										<li>
											<a class="alignleft" href="#">
												<img src="${widgets.popular.img2}" alt=""/>
											</a>
											<h6><a href="">${widgets.popular.opt2}</a></h6>
										</li>
										<li>
											<a class="alignleft" href="#">
												<img src="${widgets.popular.img3}" alt=""/>
											</a>
											<h6><a href="">${widgets.popular.opt3}</a></h6>
										</li>										
									</ul>
								</div>
							</div>
						</div>						
						</div>	
						<div class="widget">
							<h4 class="widget-head">${widgets.tags.title}</h4>
							<ul class="tags">
								<li><a href="#">${widgets.tags.opt1}</a></li>
								<li><a href="#">${widgets.tags.opt2}</a></li>
								<li><a href="#">${widgets.tags.opt3}</a></li>								
								<li><a href="#">${widgets.tags.opt4}</a></li>
								<li><a href="#">${widgets.tags.opt5}</a></li>								
							</ul>
						</div>					
					</aside>
				</div>
			</div>	
		  </div>
		</div>
	</section>
	<!-- End contain -->

	<!-- Start bottom -->
	<section id="bottom">
		<div class="container">
			<div class="row">
				<div class="span8 offset2 aligncenter">	
					<h4>${bottom.title}</h4>
					<p>
					  ${bottom.text}
					</p>
					<form class="subscribeform-inline">
						<input class="subscribe" id="appendedPrependedInput" type="text" placeholder="${bottom.placeholder}" />
						<button class="btn btn-large btn-primary" type="submit">${bottom.button}</button>
					</form>							
				</div>
			</div>
		</div>
	</section>	
	<!-- End bottom -->
	
	<!-- Start footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="footer-social">
						<a href="#"><i class="icon-facebook"></i></a>
						<a href="#"><i class="icon-twitter"></i></a>
						<a href="#"><i class="icon-linkedin"></i></a>
						<a href="#"><i class="icon-google-plus"></i></a>
						<a href="#"><i class="icon-pinterest"></i></a>
					</div>
					<p>
					  ${footer.text}
					</p>
					<ul class="fotter-nav">
						<li><a href="index.html">${footer.nav.opt1}</a></li>
						<li><a href="about.html">${footer.nav.opt2}</a></li>
						<li><a href="services.html">${footer.nav.opt3}</a></li>
						<li><a href="blog.html">${footer.nav.opt4}</a></li>
						<li><a href="help.html">${footer.nav.opt5}</a></li>
						<li><a href="site-map.html">${footer.nav.opt6}</a></li>
						<li><a href="contact.html">${footer.nav.opt7}</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="subfooter">
			<div class="container">
				<div class="row">
					<div class="span12">
						<p>${footer.copyrigth}</p>
					</div>
				</div>
			</div>				
		</div>
	</footer>	
	<!-- End footer -->
	
	<script type="text/javascript">
	//<![CDATA[
		var browser			= navigator.userAgent;
		var browserRegex	= /(Android|BlackBerry|IEMobile|Nokia|iP(ad|hone|od)|Opera M(obi|ini))/;
		var isMobile		= false;
		if(browser.match(browserRegex)) {
			isMobile			= true;
			addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			function hideURLbar(){
				window.scrollTo(0,1);
			}
		}
	//]]>
	</script>		
    <!-- Javascript
    ================================================== -->
    <script src="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/js/jquery.js"></script>
	<script src="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/js/html5shiv.js"></script>	
	<script src="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/js/jquery.easing.1.3.js"></script>	
    <script src="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/js/bootstrap.js"></script>	

	<!-- flexslider -->
	<script src="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/js/flexslider/jquery.flexslider.js"></script>
	<script src="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/js/flexslider/setting.js"></script>		

	<!-- to top -->
	<script src="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/js/totop/jquery.ui.totop.js"></script>
	<script src="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/js/totop/setting.js"></script>	
	
	<!-- custom js -->
	<script src="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/js/custom.js"></script>
	</body>
</html>
