<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Leman, premium HTML5&AMP;CSS3 template</title>
    <meta name="description" content="Leman, premium HTML5&amp;CSS3 template">
    <meta name="author" content="MosaicDesign">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/theme-style.css">
    <link rel="stylesheet" href="css/ie.style.css">
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/vendor/less.js"></script>
  </head>
  <body>
  <header id="header" class="light">
    <div class="header-bg">
      <div class="header-main" id="header-main-fixed">
        <div class="header-main-block1 with-menu">
          <div class="container">
            <div id="container-fixed">
              <div class="row">
                <div class="col-md-12">
                  <nav class="navbar yamm  navbar-main" role="navigation">
                    <div class="navbar-header">
                      <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                      <a href="index.html" class="navbar-brand"><img src="img/logo-big-shop.png" alt=""></a>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="top-header-bg"></div>
  <section>
    <div class="second-page-header dark">
      <div class="container">
        <h2>Product Detail</h2>
        <ul class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Pages</a></li>
          <li class="active">Product Detail</li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <div class="block2">
      <div class="container">
        <div class="block-product-detail">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="product-image">
                <img id="product-zoom"  src='https://ae01.alicdn.com/kf/HTB1u3S_SXXXXXb0aXXXq6xXFXXX0/YVYOO-Free-engraving-Pet-Dog-cat-collar-accessories-Decoration-Pet-ID-Dog-Tags-Collars-stainless-steel.jpg_50x50.jpg' data-zoom-image="https://ae01.alicdn.com/kf/HTB1u3S_SXXXXXb0aXXXq6xXFXXX0/YVYOO-Free-engraving-Pet-Dog-cat-collar-accessories-Decoration-Pet-ID-Dog-Tags-Collars-stainless-steel.jpg_640x640.jpg" alt="">
                <div id="gal1">
                  <a href="javascript:;" data-image="http://placehold.it/750x938" data-zoom-image="http://placehold.it/1000x1333">
                    <img src="http://placehold.it/65x85" alt="">
                  </a>
                  <a href="javascript:;" data-image="http://placehold.it/750x938" data-zoom-image="http://placehold.it/1000x1333">
                    <img src="http://placehold.it/65x85"  alt="">
                  </a>
                  <a href="javascript:;"  data-image="http://placehold.it/750x938" data-zoom-image="http://placehold.it/1000x1333">
                    <img src="http://placehold.it/65x85" alt="" >
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="product-detail-section">
                <h3>Long red Dress</h3>
                <div class="product-rating">
                  <div class="stars">
                    <span class="star"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span>
                  </div>
                  <a href="" class="review">10 Reviews</a>
                </div>
                <div class="product-information">
                  <div class="clearfix">
                    <label class="pull-left">Brand:</label> <a href="#">MusaicDesign</a><br>
                  </div>
                  <div class="clearfix">
                    <label class="pull-left">Collection:</label> Leman collection
                  </div>
                  <div class="clearfix">
                    <label class="pull-left">Product Code:</label> ID 17232451
                  </div>
                  <div class="clearfix">
                    <label class="pull-left">Size:</label>
                    <select name="size" class="form-control">
                      <option value="" selected="selected">...</option>
                      <option value="1">L</option>
                      <option value="2">XL</option>
                      <option value="3">XLL</option>
                    </select>
                  </div>
                  <div class="clearfix">
                    <label class="pull-left">Availability:</label>
                    <p>150 in stock</p>
                  </div>
                  <div class="clearfix">
                    <label class="pull-left">Description:</label>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                  </div>
                  <div class="clearfix">
                    <label class="pull-left">Price:</label>
                    <p class="product-price"><span>$469.99</span> $450.99</p>
                  </div>
                  <div class="clearfix">
                    <label class="pull-left">Quantity:</label>
                    <input type="number" class="form-control">
                  </div>
                  <div class="clearfix">
                    <label class="pull-left">Total:</label>
                    <p class="product-price">$850</p>
                  </div>
                  <div class="shopping-cart-buttons">
                    <a href="#" class="shoping"><i class="fa fa-shopping-cart"></i>  Add to cart</a>
                    <a href="#" title="Wishlist"><i class="fa fa-heart-o"></i></a>
                    <a href="#" title="Compare"><i class="fa fa-random"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-border block-form">
          <ul class="nav nav-pills  nav-justified">
            <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
            <li><a href="#additional" data-toggle="tab" class="disabled">Additional</a></li>
            <li><a href="#review" data-toggle="tab">Review</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="description">
              <br>
              <h3>Product Details</h3>
              <hr>
              <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
              <p>
              Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris. Integer in mauris eu nibh euismod gravida. Duis ac tellus et risus vulputate vehicula. Donec lobortis risus a elit. Etiam tempor. Ut ullamcorper, ligula eu tempor congue, eros est euismod turpis, id tincidunt sapien risus a quam. Maecenas fermentum consequat mi. Donec fermentum. Pellentesque malesuada nulla a mi. Duis sapien sem, aliquet nec, commodo eget, consequat quis, neque. Aliquam faucibus, elit ut dictum aliquet, felis nisl adipiscing sapien, sed malesuada diam lacus eget erat. Cras mollis scelerisque nunc. Nullam arcu. Aliquam consequat. Curabitur augue lorem, dapibus quis, laoreet et, pretium ac, nisi. Aenean magna nisl, mollis quis, molestie eu, feugiat in, orci. In hac habitasse platea dictumst.
              </p>
            </div>
            <div class="tab-pane" id="additional">
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h3>Sizes</h3>
                  <hr>
                  <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit ollit anim id est laborum.
                  </p>
                </div>
                <div class="col-md-4 block-color">
                  <h3>Colors</h3>
                  <hr>
                  <ul class="colors clearfix list-unstyled">
                    <li><a href="" data-rel="003d71"></a></li>
                    <li><a href="" data-rel="c42c39"></a></li>
                    <li><a href="" data-rel="f4bc08"></a></li>
                    <li><a href="" data-rel="02882c"></a></li>
                    <li><a href="" data-rel="000000"></a></li>
                    <li><a href="" data-rel="caccce"></a></li>
                    <li><a href="" data-rel="ffffff"></a></li>
                    <li><a href="" data-rel="f9e7b6"></a></li>
                    <li><a href="" data-rel="ef8a07"></a></li>
                    <li><a href="" data-rel="5a433f"></a></li>
                    <li><a href="" data-rel="ff9bb5"></a></li>
                    <li><a href="" data-rel="8c56a9"></a></li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <h3>Other</h3>
                  <hr>
                  <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit ollit anim id est laborum.
                  </p>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="review">
              <br>
              <div class="row">
                <div class="col-md-12">
                  <h3>Clients review</h3>
                  <hr>
                  <div class="review-header">
                    <h5>John Smith</h5>
                    <div class="product-rating">
                      <div class="stars">
                        <span class="star active"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span>
                      </div>
                    </div>
                    <small class="text-muted">26/06/2014</small>
                  </div>
                  <div class="review-body">
                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                  </div>
                  <hr>
                  <div class="review-header">
                    <h5>Tom Carry</h5>
                    <div class="product-rating">
                      <div class="stars">
                        <span class="star"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span>
                      </div>
                    </div>
                    <small class="text-muted">05/07/2014</small>
                  </div>
                  <div class="review-body">
                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                  </div>
                  <hr>
                </div>
              </div>
              <form role="form" method="post" action="#">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="inputFirstName" class="control-label">First Name:<span class="text-error">*</span></label>
                      <div>
                        <input type="text" class="form-control" id="inputFirstName">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="inputCompany" class="control-label">Company:</label>
                      <div>
                        <input type="text" class="form-control" id="inputCompany">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control">    </textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label  class="control-label">Your Rate:</label>
                      <div class="product-rating">
                        <div class="stars">
                          <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <input type="submit"  class="btn-default" value="Add Review">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer id="footer-block">
    <div class="footer-information">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="inner-block">
              <div class="header-footer">
                <h3>About us</h3>
              </div>
              <p>
              We are <a href="">MosaicDesign</a> group and we make modern, creative tempor incididunt ut labore. Duis aute velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
            <div class="inner-block">
              <div class="header-footer">
                <h3>Tags</h3>
              </div>
              <ul class="list-unstyled tags bg_dark">
                <li class="big"><a href="#">android</a></li>
                <li><a href="#">ios</a></li>
                <li><a href="#">dark</a></li>
                <li class="big"><a href="#">white</a></li>
                <li><a href="#">iphone</a></li>
                <li><a href="#">tablet</a></li>
                <li class="big"><a href="#">mobile</a></li>
                <li><a href="#">smartphone</a></li>
                <li><a href="#">top</a></li>
                <li class="big"><a href="#">bestseller</a></li>
                <li><a href="#">new</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="inner-block">
              <div class="header-footer">
                <h3>Information</h3>
              </div>
              <ul class="footer-categories list-unstyled">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Delivery Information</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Site Map</a></li>
                <li><a href="#">Returns</a></li>
              </ul>
            </div>
            <div class="inner-block">
              <div class="header-footer">
                <h3>My Account</h3>
              </div>
              <ul class="footer-categories list-unstyled">
                <li><a href="#">My Account</a></li>
                <li><a href="#">Wish List</a></li>
                <li><a href="#">Order History</a></li>
                <li><a href="#">Brands</a></li>
                <li><a href="#">Specials</a></li>
                <li><a href="#">Newsletter</a></li>
                <li><a href="#">Secure payment</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="inner-block">
              <div class="header-footer">
                <h3>Bestseller</h3>
              </div>
              <div class="product-small-list light">
                <div class="product-small-list-text-img">
                  <img alt="" class="img-responsive" src="http://placehold.it/800x1000">
                </div>
                <div class="product-small-list-text">
                  <a href="#" class="product-name">HTC 3</a>
                  <div class="product-rating">
                    <div class="stars">
                      <span class="star"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span>
                    </div>
                  </div>
                  <p class="product-price">$120.99</p>
                  <p>
                    Top 1 2014
                  </p>
                </div>
              </div>
              <div class="product-small-list light">
                <div class="product-small-list-text-img">
                  <img alt="" class="img-responsive" src="http://placehold.it/800x1000">
                </div>
                <div class="product-small-list-text">
                  <a href="#" class="product-name">Samsung Galaxy S4</a>
                  <div class="product-rating">
                    <div class="stars">
                      <span class="star"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span>
                    </div>
                  </div>
                  <p class="product-price">$320.99</p>
                  <p>
                    Populiar 2014
                  </p>
                </div>
              </div>
              <div class="product-small-list light">
                <div class="product-small-list-text-img">
                  <img alt="" class="img-responsive" src="http://placehold.it/800x1000">
                </div>
                <div class="product-small-list-text">
                  <a href="#" class="product-name">Samsung Galaxy S3</a>
                  <div class="product-rating">
                    <div class="stars">
                      <span class="star"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span>
                    </div>
                  </div>
                  <p class="product-price">$320.99</p>
                  <p>
                    Top search
                  </p>
                </div>
              </div>
              <div class="product-small-list light">
                <div class="product-small-list-text-img">
                  <img alt="" class="img-responsive" src="http://placehold.it/800x1000">
                </div>
                <div class="product-small-list-text">
                  <a href="#" class="product-name">Samsung Galaxy S2</a>
                  <div class="product-rating">
                    <div class="stars">
                      <span class="star"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span>
                    </div>
                  </div>
                  <p class="product-price">$320.99</p>
                  <p>Recomended</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="inner-block">
              <div class="header-footer">
                <h3>Address</h3>
              </div>
              <ul class="footer-categories list-unstyled">
                <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; 2901 Marmora Road, Glassgow, Seattle, WA 98122-1090</li>
                <li><i class="fa fa-phone"></i>&nbsp; 9 - 876 - 543 - 210 </li>
                <li><i class="fa fa-print"></i>&nbsp; 1 - 234 - 567 - 890</li>
                <li><a href="mailto:info@yourdomain.com"><i class="fa fa-envelope"></i>&nbsp; info@yourdomain.com</a></li>
                <li><a href="mailto:support@yourdomain.com"><i class="fa fa-envelope"></i>&nbsp; support@yourdomain.com</a></li>
                <li><a href=""><i class="fa fa-thumb-tack"></i>&nbsp;&nbsp; Location in Google Maps</a></li>
              </ul>
            </div>
            <div class="inner-block">
              <form class="form-horizonta">
                <input class="form-control" placeholder="Name" name="name">
                <input class="form-control" placeholder="E-mail" name="email">
                <textarea class="form-control" placeholder="I want ..."></textarea>
                <input type="submit" class="btn-default dark" value="Send us">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copy">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>
            Copyright © 2014  Leman | MosaicGroup.
            </p>
          </div>
          <div class="col-md-6">
            <ul class="footer-payments pull-right">
              <li><img src="img/payment-maestro.jpg" alt="payment" /></li>
              <li><img src="img/payment-discover.jpg" alt="payment" /></li>
              <li><img src="img/payment-visa.jpg" alt="payment" /></li>
              <li><img src="img/payment-american-express.jpg" alt="payment" /></li>
              <li><img src="img/payment-paypal.jpg" alt="payment" /></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/jquery.easing.1.3.js"></script>
  <script src="js/vendor/bootstrap.js"></script>

  <script src="js/vendor/jquery.flexisel.js"></script>
  <script src="js/vendor/wow.min.js"></script>
  <script src="js/vendor/jquery.transit.js"></script>
  <script src="js/vendor/jquery.jcountdown.js"></script>
  <script src="js/vendor/jquery.appear.js"></script>
  <script src="js/vendor/owl.carousel.js"></script>

  <script src="js/vendor/responsiveslides.min.js"></script>
  <script src="js/vendor/jquery.elevateZoom-3.0.8.min.js"></script>

  <script type="text/javascript" src="js/vendor/jquery.themepunch.plugins.min.js"></script>
  <script type="text/javascript" src="js/vendor/jquery.themepunch.revolution.min.js"></script>
  <script type="text/javascript" src="js/vendor/jquery.scrollTo-1.4.2-min.js"></script>

  <script src="js/main.js"></script>

  </body>
</html>
