
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>18augst gallery insporation template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<link href="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/css/bootstrap.css?1" rel="stylesheet">
		<link href="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/css/overwrite.css" rel="stylesheet">
		<link href="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/css/prettyPhoto.css" rel="stylesheet">
		<link href="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/css/style.css" rel="stylesheet">

		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,300' rel='stylesheet' type='text/css'>

		<link href="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/skin/default.css" rel="stylesheet" />

		<link rel="aphttp://layouts.stacksavings.com/themeForestResponsive18Augst/html/ple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/ico/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/ico/favicon.png">
	</head>

	<body>
	<header>
		<div class="navbar navbar-inverse navbar-static-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>

					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="dropdown active">
								<a href="${header.topMenu.menuItem1Url}" class="dropdown-toggle" data-toggle="dropdown">${header.topMenu.menuItem1} <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="${header.topMenu.menuItem1Submenu1Url}">${header.topMenu.menuItem1Submenu1}</a></li>
									<li><a href="${header.topMenu.menuItem1Submenu2Url}">${header.topMenu.menuItem1Submenu2}</a></li>
									<li><a href="${header.topMenu.menuItem1Submenu3Url}">${header.topMenu.menuItem1Submenu3}</a></li>
									<li><a href="${header.topMenu.menuItem1Submenu4Url}">${header.topMenu.menuItem1Submenu4}</a></li>
									<li><a href="${header.topMenu.menuItem1Submenu5Url}">${header.topMenu.menuItem1Submenu5}</a></li>
								</ul>
							</li>
							<li><a href="${header.topMenu.menuItem2Url}">${header.topMenu.menuItem2}</a></li>
							<li><a href="${header.topMenu.menuItem3Url}">${header.topMenu.menuItem3}</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">${header.topMenu.menuItem4} <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="${header.topMenu.menuItem4Submenu1Url}">${header.topMenu.menuItem4Submenu1}</a></li>
									<li><a href="${header.topMenu.menuItem4Submenu2Url}">${header.topMenu.menuItem4Submenu2}</a></li>
									<li><a href="${header.topMenu.menuItem4Submenu3Url}">${header.topMenu.menuItem4Submenu3}</a></li>
									<li><a href="${header.topMenu.menuItem4Submenu4Url}">${header.topMenu.menuItem4Submenu4}</a></li>
									<li><a href="${header.topMenu.menuItem4Submenu5Url}">${header.topMenu.menuItem4Submenu5}</a></li>
									<li><a href="${header.topMenu.menuItem4Submenu6Url}">${header.topMenu.menuItem4Submenu6}</a></li>
									<li><a href="${header.topMenu.menuItem4Submenu7Url}">${header.topMenu.menuItem4Submenu7}</a></li>
									<li><a href="${header.topMenu.menuItem4Submenu8Url}">${header.topMenu.menuItem4Submenu8}</a></li>
									<li><a href="${header.topMenu.menuItem4Submenu9Url}">${header.topMenu.menuItem4Submenu9}</a></li>
									<li><a href="${header.topMenu.menuItem4Submenu10Url}">${header.topMenu.menuItem4Submenu10}</a></li>
									<li><a href="${header.topMenu.menuItem4Submenu11Url}">${header.topMenu.menuItem4Submenu11}</a></li>
									<li><a href="${header.topMenu.menuItem4Submenu12Url}">${header.topMenu.menuItem4Submenu12}</a></li>
									<li><a href="${header.topMenu.menuItem4Submenu13Url}">${header.topMenu.menuItem4Submenu13}</a></li>
									<li><a href="${header.topMenu.menuItem4Submenu14Url}">${header.topMenu.menuItem4Submenu14}</a></li>
									<li><a href="${header.topMenu.menuItem4Submenu15Url}">${header.topMenu.menuItem4Submenu15}</a></li>
									<li><a href="${header.topMenu.menuItem4Submenu16Url}">${header.topMenu.menuItem4Submenu16}</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">${header.topMenu.menuItem5} <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="${header.topMenu.menuItem5Submenu1Url}">${header.topMenu.menuItem5Submenu1}</a></li>
									<li><a href="${header.topMenu.menuItem5Submenu2Url}">${header.topMenu.menuItem5Submenu2}</a></li>
									<li><a href="${header.topMenu.menuItem5Submenu3Url}">${header.topMenu.menuItem5Submenu3}</a></li>
									<li><a href="${header.topMenu.menuItem5Submenu4Url}">${header.topMenu.menuItem5Submenu4}</a></li>
									<li><a href="${header.topMenu.menuItem5Submenu5Url}">${header.topMenu.menuItem5Submenu5}</a></li>
									<li><a href="${header.topMenu.menuItem5Submenu6Url}">${header.topMenu.menuItem5Submenu6}</a></li>
									<li><a href="${header.topMenu.menuItem5Submenu7Url}">${header.topMenu.menuItem5Submenu7}</a></li>
									<li><a href="${header.topMenu.menuItem5Submenu8Url}">${header.topMenu.menuItem5Submenu8}</a></li>
									<li><a href="${header.topMenu.menuItem5Submenu9Url}">${header.topMenu.menuItem5Submenu9}</a></li>
									<li><a href="${header.topMenu.menuItem5Submenu10Url}">${header.topMenu.menuItem5Submenu10}</a></li>
								</ul>
							</li>
							<li class="open-menu dropdown" ><a href="${header.topMenu.menuItem6Url}" class="dropdown-toggle" data-toggle="dropdown">${header.topMenu.menuItem6} <b class="caret"></b></a></li>
							<li><a href="${header.topMenu.menuItem7Url}">${header.topMenu.menuItem7}</a></li>
						</ul>
					</div>

					<ul class="social-top">
						<li><a href="${header.topMenu.facebookUrl}"><i class="icon-facebook"></i></a></li>
						<li><a href="${header.topMenu.twitterUrl}"><i class="icon-twitter"></i></a></li>
						<li><a href="${header.topMenu.linkedinUrl}"><i class="icon-linkedin"></i></a></li>
						<li><a href="${header.topMenu.googlePlusUrl}"><i class="icon-google-plus"></i></a></li>
						<li><a href="${header.topMenu.pinterestUrl}"><i class="icon-pinterest"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		<section id="browse-menu">
			<div class="container">
				<div class="row">
					<div class="span12">
						<ul>
							<li><span class="head-menu">${header.topMenu.browse-menu.head-menu1}</span>
								<ul>
									<li><a href="${header.topMenu.browse-menu.head-menu1Item1Url}">${header.topMenu.browse-menu.head-menu1Item1}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu1Item2Url}">${header.topMenu.browse-menu.head-menu1Item2}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu1Item3Url}">${header.topMenu.browse-menu.head-menu1Item3}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu1Item4Url}">${header.topMenu.browse-menu.head-menu1Item4}</a></li>
								</ul>
							</li>
							<li><span class="head-menu">${header.topMenu.browse-menu.head-menu2}</span>
								<ul>
									<li><a href="${header.topMenu.browse-menu.head-menu2Item1Url}">${header.topMenu.browse-menu.head-menu2Item1}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu2Item2Url}">${header.topMenu.browse-menu.head-menu2Item2}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu2Item3Url}">${header.topMenu.browse-menu.head-menu2Item3}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu2Item4Url}">${header.topMenu.browse-menu.head-menu2Item4}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu2Item5Url}">${header.topMenu.browse-menu.head-menu2Item5}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu2Item6Url}">${header.topMenu.browse-menu.head-menu2Item6}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu2Item7Url}">${header.topMenu.browse-menu.head-menu2Item7}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu2Item8Url}">${header.topMenu.browse-menu.head-menu2Item8}</a></li>
								</ul>
							</li>
							<li><span class="head-menu">${header.topMenu.browse-menu.head-menu3}</span>
								<ul>
									<li><a href="${header.topMenu.browse-menu.head-menu3Item1Url}">${header.topMenu.browse-menu.head-menu3Item1}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu3Item2Url}">${header.topMenu.browse-menu.head-menu3Item2}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu3Item3Url}">${header.topMenu.browse-menu.head-menu3Item3}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu3Item4Url}">${header.topMenu.browse-menu.head-menu3Item4}</a></li>
								</ul>
							</li>
							<li><span class="head-menu">${header.topMenu.browse-menu.head-menu4}</span>
								<ul>
									<li><a href="${header.topMenu.browse-menu.head-menu4Item1Url}">${header.topMenu.browse-menu.head-menu4Item1}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu4Item2Url}">${header.topMenu.browse-menu.head-menu4Item2}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu4Item3Url}">${header.topMenu.browse-menu.head-menu4Item3}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu4Item4Url}">${header.topMenu.browse-menu.head-menu4Item4}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu4Item5Url}">${header.topMenu.browse-menu.head-menu4Item5}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu4Item6Url}">${header.topMenu.browse-menu.head-menu4Item6}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu4Item7Url}">${header.topMenu.browse-menu.head-menu4Item7}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu4Item8Url}">${header.topMenu.browse-menu.head-menu4Item8}</a></li>
								</ul>
							</li>
							<li><span class="head-menu">${header.topMenu.browse-menu.head-menu5}</span>
								<ul>
									<li><a href="${header.topMenu.browse-menu.head-menu5Item1Url}">${header.topMenu.browse-menu.head-menu5Item1}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu5Item2Url}">${header.topMenu.browse-menu.head-menu5Item2}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu5Item3Url}">${header.topMenu.browse-menu.head-menu5Item3}</a></li>
								</ul>
							</li>
							<li><span class="head-menu">${header.topMenu.browse-menu.head-menu6}</span>
								<ul>
									<li><a href="${header.topMenu.browse-menu.head-menu6Item1Url}">${header.topMenu.browse-menu.head-menu6Item1}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu6Item2Url}">${header.topMenu.browse-menu.head-menu6Item2}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu6Item3Url}">${header.topMenu.browse-menu.head-menu6Item3}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu6Item4Url}">${header.topMenu.browse-menu.head-menu6Item4}</a></li>
									<li><a href="${header.topMenu.browse-menu.head-menu6Item5Url}">${header.topMenu.browse-menu.head-menu6Item5}</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section id="header-contain">
			<div class="container">
				<div class="row">
					<div class="span12">
						<a class="brand" href="${header.topMenu.logo.logo-url}"><img src="${header.topMenu.logo.logo-imagen}" alt="" /></a>
						<form>
							<fieldset class="search-form">
								<input class="search" type="text" placeholder="${header.topMenu.search-form.search-form-placeholder}">
								<button class="search-button" type="button"></button>
							</fieldset>
						</form>
						<div class="login-register">
							<a href="${header.topMenu.loginUrl}" class="btn btn-inverse" data-toggle="modal" data-target="#myModal">${header.topMenu.loginBtn}</a><a href="${header.topMenu.registerUrl}" class="btn btn-primary">${header.topMenu.registerBtn}</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</header>

	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<h4 id="myModalLabel">${header.topMenu.modalLogin.modalTitle}</h4>
		</div>
		<form class="form-horizontal marginbot-clear">
			<div class="modal-body">
				<div class="control-group margintop30">
					<label class="control-label" for="inputEmail">${header.topMenu.modalLogin.usernameInput}</label>
					<div class="controls">
						<input type="text" id="inputEmail" placeholder="${header.topMenu.modalLogin.usernameInputPlaceholder}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputPassword">${header.topMenu.modalLogin.passwordInput}</label>
					<div class="controls">
						<input type="password" id="inputPassword" placeholder="${header.topMenu.modalLogin.passwordInputPlaceholder}">
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<label class="checkbox">
							<input type="checkbox"> ${header.topMenu.modalLogin.rememberMe}
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">${header.topMenu.modalLogin.closeModal}</button>
				<button class="btn btn-primary">${header.topMenu.modalLogin.modalLoginBtn}</button>
			</div>
		</form>
	</div>
	<!-- End modal -->

	<!-- Start featured -->
	<section id="featured" class="aligncenter">
			<div class="gridrotator">
				<div class="grid-wrapper">
					<div class="container">
						<div class="row">
							<div class="span12">
								<h3>${content.gridTitle1}</h3>
								<p>
								${content.gridText}
								</p>
								<div class="featured-cta e_bounce"><a href="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/register.html" class="btn btn-cta btn-primary">Signup for free</a></div>
							</div>
						</div>
					</div>
				</div>
				<div id="ri-grid" class="ri-grid ri-grid-size">
					<ul>
						<li><a href="${content.gridImages.gridImages1}"><img src="${content.gridImages.gridImages1Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages2}"><img src="${content.gridImages.gridImages2Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages3}"><img src="${content.gridImages.gridImages3Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages4}"><img src="${content.gridImages.gridImages4Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages5}"><img src="${content.gridImages.gridImages5Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages6}"><img src="${content.gridImages.gridImages6Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages7}"><img src="${content.gridImages.gridImages7Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages8}"><img src="${content.gridImages.gridImages8Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages9}"><img src="${content.gridImages.gridImages9Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages1}"><img src="${content.gridImages.gridImages1Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages2}"><img src="${content.gridImages.gridImages2Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages3}"><img src="${content.gridImages.gridImages3Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages4}"><img src="${content.gridImages.gridImages4Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages5}"><img src="${content.gridImages.gridImages5Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages6}"><img src="${content.gridImages.gridImages6Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages7}"><img src="${content.gridImages.gridImages7Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages8}"><img src="${content.gridImages.gridImages8Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages9}"><img src="${content.gridImages.gridImages9Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages1}"><img src="${content.gridImages.gridImages1Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages2}"><img src="${content.gridImages.gridImages2Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages3}"><img src="${content.gridImages.gridImages3Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages4}"><img src="${content.gridImages.gridImages4Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages5}"><img src="${content.gridImages.gridImages5Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages6}"><img src="${content.gridImages.gridImages6Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages7}"><img src="${content.gridImages.gridImages7Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages8}"><img src="${content.gridImages.gridImages8Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages9}"><img src="${content.gridImages.gridImages9Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages1}"><img src="${content.gridImages.gridImages1Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages2}"><img src="${content.gridImages.gridImages2Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages3}"><img src="${content.gridImages.gridImages3Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages4}"><img src="${content.gridImages.gridImages4Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages5}"><img src="${content.gridImages.gridImages5Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages6}"><img src="${content.gridImages.gridImages6Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages7}"><img src="${content.gridImages.gridImages7Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages8}"><img src="${content.gridImages.gridImages8Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages9}"><img src="${content.gridImages.gridImages9Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages1}"><img src="${content.gridImages.gridImages1Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages2}"><img src="${content.gridImages.gridImages2Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages3}"><img src="${content.gridImages.gridImages3Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages4}"><img src="${content.gridImages.gridImages4Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages5}"><img src="${content.gridImages.gridImages5Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages6}"><img src="${content.gridImages.gridImages6Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages7}"><img src="${content.gridImages.gridImages7Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages8}"><img src="${content.gridImages.gridImages8Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages9}"><img src="${content.gridImages.gridImages9Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages1}"><img src="${content.gridImages.gridImages1Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages2}"><img src="${content.gridImages.gridImages2Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages3}"><img src="${content.gridImages.gridImages3Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages4}"><img src="${content.gridImages.gridImages4Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages5}"><img src="${content.gridImages.gridImages5Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages6}"><img src="${content.gridImages.gridImages6Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages7}"><img src="${content.gridImages.gridImages7Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages8}"><img src="${content.gridImages.gridImages8Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages9}"><img src="${content.gridImages.gridImages9Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages1}"><img src="${content.gridImages.gridImages1Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages2}"><img src="${content.gridImages.gridImages2Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages3}"><img src="${content.gridImages.gridImages3Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages4}"><img src="${content.gridImages.gridImages4Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages5}"><img src="${content.gridImages.gridImages5Url}" alt="" /></a></li>
						<li><a href="${content.gridImages.gridImages6}"><img src="${content.gridImages.gridImages6Url}" alt="" /></a></li>
					</ul>
				</div>
			</div>
	</section>

	<section id="intro">
		<div class="container">
		  <div class="row">
		    <div class="span12 aligncenter marginbot25">
				<h4>${content.intro.introTitle}</h4>
			</div>
			<div class="span3 aligncenter">
				<img src="${content.intro.introImages1}" class="aligncenter" alt="" />
				<h5>${content.intro.introItem1}</h5>
				<p>
				${content.intro.introText1}
				</p>
			</div>
			<div class="span3 aligncenter">
				<img src="${content.intro.introImages2}" class="aligncenter" alt="" />
				<h5>${content.intro.introItem2}</h5>
				<p>
				${content.intro.introText2}
				</p>
			</div>
			<div class="span3 aligncenter">
				<img src="${content.intro.introImages3}" class="aligncenter" alt="" />
				<h5>${content.intro.introItem3}</h5>
				<p>
				${content.intro.introText3}
				</p>
			</div>
			<div class="span3 aligncenter">
				<img src="${content.intro.introImages4}" class="aligncenter" alt="" />
				<h5>${content.intro.introItem4}</h5>
				<p>
				${content.intro.introText4}
				</p>
			</div>
		  </div>
		</div>
	</section>
	<!-- End intro -->

	<!-- Start contain -->
	<section id="contain">
		<div class="container">
		  <div class="row">
			<div class="span12">
				<div id="filter-bar" class="btn-group">
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					${content.sorted.sortedTitle}
					<span class="caret"></span>
					</a>
					<ul id="filters" class="dropdown-menu">
						<li><a href="#" data-filter=".all">${content.sorted.sorted1}</a></li>
						<li><a href="#" data-filter=".latest">${content.sorted.sorted2}</a></li>
						<li><a href="#" data-filter=".popular">${content.sorted.sorted3}</a></li>
						<li><a href="#" data-filter=".premium">${content.sorted.sorted4}</a></li>
						<li><a href="#" data-filter=".free">${content.sorted.sorted5}</a></li>
					</ul>
				</div>
				<span class="page-count">${content.sorted.sortedCounter}</span>
			</div>
		  </div>
		  <ul id="portfolio" class="row clearfix marginbot10">
				<li class="item span4 all free popular latest">
					<div class="image-wrapper">
						<div class="image-caption"></div>
						<div class="image-title">
							<h4><a href="${content.portafolio.portfolioItemUrl1}">${content.portafolio.portfolioItem1}</a></h4>
						</div>
						<a href="${content.portafolio.portfolioItemBigImg1}" data-pretty="prettyPhoto" class="zoom">zoom</a>
						<div class="portfolio-metta">
							<a href="#"><i class="icon-eye-open"></i>3445</a>
							<a href="#"><i class="icon-thumbs-up"></i>98</a>
							<a href="#"><i class="icon-cloud-download"></i>205</a>
						</div>
						<img src="${content.portafolio.portfolioItemImg1}" alt=""/>
					</div>
				</li>
				<li class="item span4 all premium">
					<div class="image-wrapper">
						<div class="image-caption"></div>
						<div class="image-title">
							<h4><a href="${content.portafolio.portfolioItemUrl2}">${content.portafolio.portfolioItem2}</a></h4>
						</div>
						<a href="${content.portafolio.portfolioItemBigImg2}" data-pretty="prettyPhoto" class="zoom">zoom</a>
						<div class="portfolio-metta">
							<a href="#"><i class="icon-eye-open"></i>305</a>
							<a href="#"><i class="icon-thumbs-up"></i>28</a>
							<a href="#"><i class="icon-cloud-download"></i>15</a>
						</div>
						<img src="${content.portafolio.portfolioItemImg2}" alt=""/>
					</div>
				</li>
				<li class="item span4 all free">
					<div class="image-wrapper">
						<div class="image-caption"></div>
						<div class="image-title">
							<h4><a href="${content.portafolio.portfolioItemUrl3}">${content.portafolio.portfolioItem3}</a></h4>
						</div>
						<a href="${content.portafolio.portfolioItemBigImg3}" data-pretty="prettyPhoto" class="zoom">zoom</a>
						<div class="portfolio-metta">
							<a href="#"><i class="icon-eye-open"></i>225</a>
							<a href="#"><i class="icon-thumbs-up"></i>45</a>
							<a href="#"><i class="icon-cloud-download"></i>35</a>
						</div>
						<img src="${content.portafolio.portfolioItemImg3}" alt=""/>
					</div>
				</li>
				<li class="item span4 all free">
					<div class="image-wrapper">
						<div class="image-caption"></div>
						<div class="image-title">
							<h4><a href="${content.portafolio.portfolioItemUrl4}">${content.portafolio.portfolioItem4}</a></h4>
						</div>
						<a href="${content.portafolio.portfolioItemBigImg4}" data-pretty="prettyPhoto" class="zoom">zoom</a>
						<div class="portfolio-metta">
							<a href="#"><i class="icon-eye-open"></i>678</a>
							<a href="#"><i class="icon-thumbs-up"></i>33</a>
							<a href="#"><i class="icon-cloud-download"></i>112</a>
						</div>
						<img src="${content.portafolio.portfolioItemImg4}" alt=""/>
					</div>
				</li>
				<li class="item span4 all premium popular">
					<div class="image-wrapper">
						<div class="image-caption"></div>
						<div class="image-title">
							<h4><a href="${content.portafolio.portfolioItemUrl5}">${content.portafolio.portfolioItem5}</a></h4>
						</div>
						<a href="${content.portafolio.portfolioItemBigImg5}" data-pretty="prettyPhoto" class="zoom">zoom</a>
						<div class="portfolio-metta">
							<a href="#"><i class="icon-eye-open"></i>22</a>
							<a href="#"><i class="icon-thumbs-up"></i>11</a>
							<a href="#"><i class="icon-cloud-download"></i>2</a>
						</div>
						<img src="${content.portafolio.portfolioItemImg5}" alt=""/>
					</div>
				</li>
				<li class="item span4 all free">
					<div class="image-wrapper">
						<div class="image-caption"></div>
						<div class="image-title">
							<h4><a href="${content.portafolio.portfolioItemUrl6}">${content.portafolio.portfolioItem6}</a></h4>
						</div>
						<a href="${content.portafolio.portfolioItemBigImg6}" data-pretty="prettyPhoto" class="zoom">zoom</a>
						<div class="portfolio-metta">
							<a href="#"><i class="icon-eye-open"></i>233</a>
							<a href="#"><i class="icon-thumbs-up"></i>67</a>
							<a href="#"><i class="icon-cloud-download"></i>45</a>
						</div>
						<img src="${content.portafolio.portfolioItemImg6}" alt=""/>
					</div>
				</li>
				<li class="item span4 all free latest">
					<div class="image-wrapper">
						<div class="image-caption"></div>
						<div class="image-title">
							<h4><a href="${content.portafolio.portfolioItemUrl7}">${content.portafolio.portfolioItem7}</a></h4>
						</div>
						<a href="${content.portafolio.portfolioItemBigImg7}" data-pretty="prettyPhoto" class="zoom">zoom</a>
						<div class="portfolio-metta">
							<a href="#"><i class="icon-eye-open"></i>544</a>
							<a href="#"><i class="icon-thumbs-up"></i>233</a>
							<a href="#"><i class="icon-cloud-download"></i>122</a>
						</div>
						<img src="${content.portafolio.portfolioItemImg7}" alt=""/>
					</div>
				</li>
				<li class="item span4 all free">
					<div class="image-wrapper">
						<div class="image-caption"></div>
						<div class="image-title">
							<h4><a href="${content.portafolio.portfolioItemUrl8}">${content.portafolio.portfolioItem8}</a></h4>
						</div>
						<a href="${content.portafolio.portfolioItemBigImg8}" data-pretty="prettyPhoto" class="zoom">zoom</a>
						<div class="portfolio-metta">
							<a href="#"><i class="icon-eye-open"></i>500</a>
							<a href="#"><i class="icon-thumbs-up"></i>288</a>
							<a href="#"><i class="icon-cloud-download"></i>33</a>
						</div>
						<img src="${content.portafolio.portfolioItemImg8}" alt=""/>
					</div>
				</li>
				<li class="item span4 all latest popular">
					<div class="image-wrapper">
						<div class="image-caption"></div>
						<div class="image-title">
							<h4><a href="${content.portafolio.portfolioItemUrl9}">${content.portafolio.portfolioItem9}</a></h4>
						</div>
						<a href="${content.portafolio.portfolioItemBigImg9}" data-pretty="prettyPhoto" class="zoom">zoom</a>
						<div class="portfolio-metta">
							<a href="#"><i class="icon-eye-open"></i>222</a>
							<a href="#"><i class="icon-thumbs-up"></i>21</a>
							<a href="#"><i class="icon-cloud-download"></i>22</a>
						</div>
						<img src="${content.portafolio.portfolioItemImg9}" alt=""/>
					</div>
				</li>
			</ul>
			<div class="row">
				<div class="span12">
					<ul class="pager marginnone">
						<li class="previous disabled"><a href="#">&larr; ${content.portafolio.portafolioOlder}</a></li>
						<li class="next"><a href="#">${content.portafolio.portafolioNewer} &rarr;</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section id="bottom">
		<div class="container">
			<div class="row">
				<div class="span8 offset2 aligncenter">
					<h4>${content.subscribe.subscribeTitle}</h4>
					<p>${content.subscribe.subscribeText}</p>
					<form class="subscribeform-inline">
						<input class="subscribe" id="appendedPrependedInput" type="text" placeholder="${content.subscribe.subscribeInputPlaceholder}" />
						<button class="btn btn-large btn-primary" type="submit">${content.subscribe.subscribeBtn}</button>
					</form>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="footer-social">
						<a href="${footer.footerFacebook}"><i class="icon-facebook"></i></a>
						<a href="${footer.footerTwitter}"><i class="icon-twitter"></i></a>
						<a href="${footer.footerLinkedin}"><i class="icon-linkedin"></i></a>
						<a href="${footer.footerGooglePlus}"><i class="icon-google-plus"></i></a>
						<a href="${footer.footerPinterest}"><i class="icon-pinterest"></i></a>
					</div>
					<p>${footer.footerText}</p>
					<ul class="fotter-nav">
						<li><a href="${footer.footerLink1Url}">${footer.footerLink1}</a></li>
						<li><a href="${footer.footerLink2Url}">${footer.footerLink2}</a></li>
						<li><a href="${footer.footerLink3Url}">${footer.footerLink3}</a></li>
						<li><a href="${footer.footerLink4Url}">${footer.footerLink4}</a></li>
						<li><a href="${footer.footerLink5Url}">${footer.footerLink5}</a></li>
						<li><a href="${footer.footerLink6Url}">${footer.footerLink6}</a></li>
						<li><a href="${footer.footerLink7Url}">${footer.footerLink7}</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="subfooter">
			<div class="container">
				<div class="row">
					<div class="span12">
						${footer.subfooter}
					</div>
				</div>
			</div>
		</div>
	</footer>

		<script type="text/javascript">
			var browser			= navigator.userAgent;
			var browserRegex	= /(Android|BlackBerry|IEMobile|Nokia|iP(ad|hone|od)|Opera M(obi|ini))/;
			var isMobile		= false;
			if(browser.match(browserRegex)) {
				isMobile			= true;
				addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
				function hideURLbar(){
					window.scrollTo(0,1);
				}
			}
		</script>

	  <script src="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/js/jquery.js"></script>
		<script src="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/js/html5shiv.js"></script>
		<script src="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/js/jquery.easing.1.3.js"></script>
	  <script src="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/js/bootstrap.js"></script>

		<script src="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/js/gridrotator/modernizr.custom.26633.js"></script>
		<script src="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/js/gridrotator/jquery.gridrotator.js"></script>
		<!-- <script src="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/js/gridrotator/setting.js"></script> -->

	  <script src="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/js/filter/jquery.isotope.min.js"></script>
		<script src="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/js/filter/setting.js"></script>

		<script src="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/js/prettyPhoto/jquery.prettyPhoto.js"></script>
		<script src="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/js/prettyPhoto/setting.js"></script>

		<script src="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/js/totop/jquery.ui.totop.js"></script>
		<script src="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/js/totop/setting.js"></script>

		<script src="https://layouts.stacksavings.com/themeForestResponsive18Augst/html/js/custom.js?4"></script>
	</body>
</html>
